*.lprof
*.sqlite

train_reinforced/bak*
train_reinforced/train_reinforced_debug_img_train.png
train_reinforced/train_reinforced_debug_img_val.png
train_reinforced/train_reinforced_plot.jpg
train_reinforced/train_reinforced_model.tar
train_reinforced/train_reinforced_model.tar.gz
train_reinforced/video_command.txt
train_reinforced/transfer_old_model.py

train_semisupervised/bak*
train_semisupervised/train_semisupervised_debug_img.jpg
train_semisupervised/train_semisupervised_debug_img_val.jpg
train_semisupervised/train_semisupervised_debug_img_withshortcuts.jpg
train_semisupervised/train_semisupervised_debug_img_val_withshortcuts.jpg
train_semisupervised/train_semisupervised_plot.jpg
train_semisupervised/train_semisupervised_plot_withshortcuts.jpg
train_semisupervised/train_semisupervised_model.tar
train_semisupervised/train_semisupervised_model.tar.gz
train_semisupervised/train_semisupervised_model_withshortcuts.tar
train_semisupervised/train_semisupervised_model_withshortcuts.tar.gz

train_steering_wheel/debug_img_train.jpg
train_steering_wheel/debug_img_val.jpg
train_steering_wheel/train_plot.jpg
# .tar file is intentionally part of the repository

lib/getactivewindow.c

images/steering_wheel/*
images/ingame_*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
